// Custom variables

// @import 


.talia-card {
    display: block;
    background-color:black;
    height: 300px;
    width: 250px;
    color: white;
}

.logo {
    display: flex;
    align-items: flex-start;

    &__icon {
        display: inline-block;
        width: 30px;
        height: 30px;
        background-size: contain;
        background-repeat: no-repeat;
        margin-right: 10px;
    }


    &__sign {
        font-size: 16px; 
        margin-top: -2px;
        line-height: 1;

    }
}

.indexDisplayCard {
    // min-height: 1000px;
}

.header {
    &__img {
        max-height: 650px;
    }
}

.indexHeader {
    &__title {
        padding-top: 200px;
        color: red;
    }
}

